<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774936826480-9i29v2rto76a51f7m5md2fs1s22slmjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774936826480-9i29v2rto76a51f7m5md2fs1s22slmjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCfH2IqWv6UE17nSuCGCkbE7x1wk-bye5I</string>
	<key>GCM_SENDER_ID</key>
	<string>774936826480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalclosesky</string>
	<key>PROJECT_ID</key>
	<string>final-close</string>
	<key>STORAGE_BUCKET</key>
	<string>final-close.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:774936826480:ios:233f584e05fb926570dab5</string>
	<key>DATABASE_URL</key>
	<string>ttps://final-close-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
